<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <h1>Catalog App</h1>

  <div style="float: left; width: 50%;">
    <ul>
    {% for category in categories %}
    <br/>
      <ul><a href='{{url_for('showCategory', category_id = category.id)}}'> {{category.name}} </a></ul>

    {% endfor %}
    </ul>
  </div>
  <div style="float: right; width: 50%;">
    <ul>
      {% for movie in movies %}
      <ul><a href='{{url_for('showMovie', category_id = movie.category_id, movie_id = movie.id)}}'> {{movie.name}} </a> </ul>
      {% endfor %}
    </ul>
  </div>

</body>

</html>
