<html>
<body>
<form action= "{{url_for('editMovie', category_id = category_id,
  movie_id=movie_id)}}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='30' name = 'name' placeholder = '{{movie['name']}}'>
<p>Release Date:</p>
<input type = 'text' size='30' name = 'releasedate' placeholder = '{{movie['releaseDate']}}'>
<p>Descritption:</p>
<input type = 'text' size='30' name = 'description' placeholder = '{{movie['description']}}'>
<div>
<br/>
<input type='submit' value='Edit'>
<a href= '{{url_for('showMovie', category_id = category_id, movie_id = movie_id)}}'>Cancel</a>
</div>
</form>
</body>
</html>
