<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<!-- CONTAINERS -->
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Movie Catalog</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('showCategories')}}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
						{% if 'username' not in session %}
            <li><a class="btn btn-md btn-default" href="{{url_for('showLogin')}}" role="button">Log in</a></li>
						{% else %}
						<li><a class="btn btn-md btn-default" href="{{url_for('gdisconnect')}}" role="button">Log out</a></li>
						{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title ">Movie catalog based on different Genres</h3>
			</div>
			<div class="panel-body">

				{% block content %} {% endblock %}

			</div>
		</div>
	</div>
	</div>

</body>

</html>
