{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="col-md-offset-1 col-md-4 ">
    <h4 class="col-md-offset-1"> Movie Categories </h4>
    {% for category in categories %}
      <ul><a href='{{url_for('moviecatalog.showCategory', category_id = category.id)}}'> {{category.name}} </a></ul>

    {% endfor %}

  </div>

  <div class="col-md-offset-1 col-md-4">
    <h4 class="col-md-offset-1"> Latest Movies </h4>
      {% for movie in movies %}
      <ul><a href='{{url_for('moviecatalog.showMovie', category_id = movie.category_id, movie_id = movie.id)}}'> {{movie.name}} </a> </ul>
      {% endfor %}
  </div>
</div>

{% endblock %}
