{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="col-md-offset-1 col-md-4 ">
    <h4 class="col-md-offset-1"> Movie Categories </h4>
    {% for category in categories %}
      <ul><a href='{{url_for('showCategory', category_id = category.id)}}'> {{category.name}} </a></ul>

    {% endfor %}

  </div>

  <div class="col-md-offset-1 col-md-4 ">
        <h4 class="col-md-offset-1"> Movies in {{thisCategory.name}} category </h4>
      {% for movie in movies %}
      <ul><a href='{{url_for('showMovie', category_id = movie.category_id,
        movie_id = movie.id)}}'> {{movie.name}} </a> </ul>
      {% endfor %}
      {% if 'username' in session %}
      <ul> <a class="btn btn-success" href='{{url_for('newMovie', category_id = thisCategory.id)}}'> New Movie </a> </ul>
			{% endif %}
  </div>
  </div>
  {% endblock %}
